# Relay configuration
API_URL=https://apextunnel-api.vercel.app
INTERNAL_SECRET=your_secret_key_here
FRONTEND_URL=https://apextunnel.vercel.app

# Ports
HTTP_PORT=2000
TCP_PORT=9000

# Domain
BASE_DOMAIN=apextunnel.online

# Logging
LOG_LEVEL=info
